body {
  padding:30px;
}
body a {
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: brown;
  padding-left: 10px;
}
ol {
  padding-top: 30px;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  }
ol li {font-size:20px;font-weight:bold;margin: 10px;border-bottom: 2px solid brown;padding: 10px;width: 100%;}
ol li p {font-weight: normal;padding-top: 0;color: forestgreen;}
span {
display: block;
padding-top: 5px;
}